<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <!-- Root Context: defines shared resources visible to all other web components -->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy"/>
        <property name="url"
                  value="jdbc:log4jdbc:mysql://localhost:3306/pickmedb?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="doubless"/>
        <property name="password" value="qazwsxdc8375!"/>
    </bean>

    <!-- SqlSessionFactory 객체 주입 -->
    <!-- sqlSessionFactory 는 dataSource 를 참조 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- mybtis 환경설정파일 위치 참조 -->
        <property name="configLocation" value="classpath:/mybatis-config.xml"/>
        <!-- mybatis mapper 의 위치와 네이밍 규칙설정 -->
        <!-- classpath : src/main/resources 를 의미 -->
        <!-- ** : 디렉토리를 의미 -->
        <!-- * : 파일명을 의미 -->
        <property name="mapperLocations" value="classpath:/mapppers/**/*Mapper.xml"/>
    </bean>

    <!-- SqlSession 객체 주입 -->
    <!-- sqlSession은 sqlSessionFactory를 참조 -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <!--스프링에서 AOP 의 설정을 통한 Proxy(Advice 가 적용되었을 때 만들어지는 객체) 객체 생성-->
    <aop:aspectj-autoproxy/>
    <!-- 트랜잭션 관련 어노테이션을 자동인식하는 옵션 -->
    <tx:annotation-driven/>
</beans>