<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
    <!--회원가입-->
    <insert id="createUser" parameterType="User">
        INSERT INTO tb_user (
            USER_EMAIL,
            USER_NM,
            USER_PW,
            USER_JOIN_DT,
            USER_UPDATE_DT,
            USER_LOGIN_DT
        ) VALUES (
            #{userEmail},
            #{userName},
            #{userPassword},
            NOW(),
            NOW(),
            NOW())
    </insert>

    <!--회원 이메일 주소 중복확인-->
    <select id="findOneByEmail" resultType="int">
        SELECT COUNT(*)
        FROM tb_user
        WHERE USER_EMAIL = #{userEmail}
    </select>

    <!--회원 이름 중복확인-->
    <select id="findOneByName" resultType="int">
        SELECT COUNT(*)
        FROM tb_user
        WHERE USER_NM = #{userName}
    </select>

    <!--회원 리스트-->
    <select id="list" resultMap="userResultMap">
        SELECT
            USER_ID,
            USER_EMAIL,
            USER_NM,
            USER_JOIN_DT,
            USER_UPDATE_DT
        FROM tb_user
    </select>

    <!--회원 정보 상세조회-->
    <select id="userFindOneById" resultMap="userResultMap">
        SELECT
            USER_ID,
            USER_EMAIL,
            USER_NM,
            USER_JOIN_DT,
            USER_UPDATE_DT
        FROM tb_user
        WHERE USER_ID = #{userId}
    </select>

    <!--회원 정보 수정-->
    <update id="update" parameterType="User">
        UPDATE tb_user
        SET
            USER_EMAIL = #{userEmail},
            USER_NM  = #{userName},
            USER_PW    = #{userPassword},
            USER_UPDATE_DT  = NOW()
        WHERE
            USER_ID = #{userId}
    </update>

    <!--회원 삭제 / 탈퇴-->
    <delete id="delete" parameterType="int">
        DELETE FROM tb_user
        WHERE USER_ID = #{userId}
    </delete>

    <!--비밀번호 확인-->
    <select id="checkPw" resultType="int">
        SELECT COUNT(*)
        FROM tb_user
        WHERE USER_EMAIL = #{userEmail} AND USER_PW = #{userPassword}
    </select>

    <!--로그인-->
    <select id="login" resultMap="userResultMap">
        SELECT
            USER_ID,
            USER_EMAIL,
            USER_NM,
            USER_PW,
            USER_JOIN_DT,
            USER_UPDATE_DT,
            USER_LOGIN_DT
        FROM tb_user
        WHERE USER_EMAIL = #{userEmail}
    </select>

    <resultMap id="userResultMap" type="User">
        <id column="USER_ID" property="userId"/>
        <result column="USER_EMAIL" property="userEmail"/>
        <result column="USER_NM" property="userName"/>
        <result column="USER_PW" property="userPassword"/>
        <result column="USER_JOIN_DT" property="userJoinDate"/>
        <result column="USER_UPDATE_DT" property="userUpdateDate"/>
        <result column="USER_LOGIN_DT" property="userLoginDate"/>
    </resultMap>
</mapper>
